In [1]:
from api.config import settings
import psycopg2
from psycopg2.extras import RealDictCursor
import time
import pandas as pd
from IPython.display import display

pd.options.display.max_colwidth = None

# 1. Number of challenges that was created in the last 3 months, with the objective of every challenge and with status are open, order by the most recent date of creation

In [2]:
while True:
    try:
        # Usage of EV for security.
        conn = psycopg2.connect(host=settings.database_hostname, dbname=settings.database_name, user=settings.database_username, password=settings.database_password, 
                               cursor_factory=RealDictCursor)  # Map the columns and values
        cursor = conn.cursor()
        print('Database connection was succesfull!')
        query_1 = """
        SELECT *
        FROM challenges
        WHERE DATE(created_at) >= NOW() - INTERVAL '3 months'
            AND status LIKE 'open'
        ORDER BY created_at DESC;
        """
        cursor.execute(query_1)
        challenges = cursor.fetchall()
        columns_1 = [desc[0] for desc in cursor.description]

        cursor.close()
        conn.close()

        df_1 = pd.DataFrame(challenges, columns=columns_1)

        display(df_1)
        break
    except Exception as e:
        print(f'Connecting to database failed. Error: {e}')
        time.sleep(2)

Database connection was succesfull!

,id,name,description,status,opencall_objective,created_at
0,490,Domina el arte del casting con una mentoría,¿Sueñas con convertirte en empresario con el respaldo de marcas reconocidas?,open,Innovador,2024-07-09 00:00:00-05:00
1,480,Sé el mejor presentador de televisión,¡Domina el arte del casting con una mentoría exclusiva!,open,Artistas,2024-07-08 00:00:00-05:00

# 2. List of users that have his onboarding goal objective (profile table) in be_discovered and that have a video uploaded in the platform for the last 2 months. Keep in mind that if the user has more than one video in the resumes table you have to choose one option using this rule, the type of video is pitch_video. the video must be a valid url and not null.

In [4]:
# Ther're not videos uploaded in the las 2 months on the "resumes" table.

while True:
    try:
        # Usage of EV for security.
        conn = psycopg2.connect(host=settings.database_hostname, dbname=settings.database_name, user=settings.database_username, password=settings.database_password, 
                               cursor_factory=RealDictCursor)  # Map the columns and values
        cursor = conn.cursor()
        print('Database connection was succesfull!')
        query_2 = """
        SELECT p.user_id, r.video, p.onboarding_goal, p.updated_at, r.created_at
        FROM profiles AS p
            INNER JOIN resumes AS r ON r.user_id = p.user_id
        WHERE p.onboarding_goal LIKE 'be_discovered%'
            AND DATE(r.created_at) >= (NOW() - INTERVAL '2 months')
            AND r.type LIKE 'pitch_video'
            AND r.video IS NOT NULL
        ORDER BY created_at DESC;
        """
        cursor.execute(query_2)
        resumes = cursor.fetchall()
        columns_2 = [desc[0] for desc in cursor.description]

        cursor.close()
        conn.close()

        df_1 = pd.DataFrame(resumes, columns=columns_2)

        display(df_1)
        break
    except Exception as e:
        print(f'Connecting to database failed. Error: {e}')
        time.sleep(2)

Database connection was succesfull!

Empty DataFrame
Columns: [user_id, video, onboarding_goal, updated_at, created_at]
Index: []